.no-html {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: auto;
    white-space: pre-line;
}

.no-html-out {
    position: relative;
}

.no-html-raw {
    visibility: hidden;
}
